<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Prediction-Key" value="f6a41c86ad7e446a90553de9f65dfd4a"/>
    <add key="Prediction-URL" value="https://jabilcv.cognitiveservices.azure.com/customvision/v3.0/Prediction/637be8a5-285a-4620-86cf-dfdcfa73e9a7/detect/iterations/Iteration1/image"/>
    <add key="TagName" value="barcode"/>

    <!-- Recognize Text API Settings -->
    <add key="Ocp-Apim-Subscription-Key" value="765d1fca8e3b445b8089b4388f90e848"/>
    <add key="RecognizeTextAPI-URL" value="https://southeastasia.api.cognitive.microsoft.com/vision/v2.0/recognizeText?mode=Printed"/>
   
  </appSettings>
</configuration>